body {
    background-color: #0B0D17;
    color: #D0D6F9;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bellefair', serif;
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 56px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    color: #D0D6F9;
}

.uppercase {
    text-transform: uppercase;
}

.white{
    color: #FFFFFF;
}

/* Navbar */

#navbar-section {
    padding: 3%;
    padding-right: 0;
    position: relative;

}

.nav-hr {
    border: 1px solid;
    width: 37%;
    z-index: 1;
    position: absolute;
    left: 7%;
}

.head-container {
    backdrop-filter: blur(50px);
    width: 58%;
    height: 5rem;
    background-color: #ffffff0e;
    padding: 3px 0;
    position: absolute;
    right: 0;
}

.ul-container {
    position: absolute;
    left: 14%;
}

.link {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    font-size: 16px;
    padding: 18px;
}

.link-a:hover {
    text-decoration: underline 2px solid #ffffffb7;
    text-underline-offset: 30px;
    color: #FFFFFF;
}

.active {
    text-decoration: underline 2px solid #FFFFFF;
    text-underline-offset: 29px;
    color: #FFFFFF;
}

.navbar-toggler,
.custom-navbar-toggler {
    border-color: #D0D6F9;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28208, 214, 249, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Title */

#title {
    padding-left: 10%;
    position: relative;
    top: 3.5rem;
}

.wrapper {
    margin-top: 100px;
    margin-bottom: 155px;
}

.paragraph {
    line-height: 2;
    width: 70%;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Barlow', sans-serif;
}

.button-container {
    width: 400px;
    height: 400px;
    text-align: center;
    position: relative;
    /* background-color: pink; */
}

.outer-button {
    /* background-color: #0b0d1756; */
    background-color: red;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: absolute;
    display: none;
    /* left: 40%; */
}

.button-main {
    border-radius: 100%;
    padding: 6rem 3.5rem;
    font-size: 2rem;
    font-family: 'Bellefair', 'serif';
    position: absolute;
    bottom: 29px;
    /* top: 10%;
    left: 9%;  */
}

.button-main:hover+.outer-button {
    display: block;
}


/* Tablet view port */

@media (max-width: 1117px) and (min-width: 923px) {
    .navbar-numbers {
        display: none;
    }

    .nav-hr {
        display: none;
    }
}

/* Mobile view port */

@media (max-width: 923px) {
    .link-a:hover {
        text-decoration: none;
    }

    .nav-hr {
        display: none;
    }
}