body {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
}

.grey-color {
    color: gray;
    margin-right: 12px;
}

.distance {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.35;
}

.distance-number {
    font-family: 'Bellefair', serif;
    font-size: 28px;
}

.right-container {
    margin-top: 90px;
}

.h2-title {
    margin-top: 30px;
}

.destination-p {
    margin-bottom: 45px;
}

.ul-second {
    padding-left: 0;
}

.link-second {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    font-size: 16px;
    padding-right: 18px;
}

.link-a-second:hover {
    text-decoration: underline 2px solid #ffffffb7;
    text-underline-offset: 12px;
    color: #ffffff;
}

.second-active {
    text-decoration: underline 2px solid #ffffffb7;
    text-underline-offset: 12px;
}

.not-active {
    color: #D0D6F9;
}

.destination-hr {
    width: 70%;
    margin-bottom: 35px;
    height: 2px;
}

.destination-image {
    margin: 90px 60px 80px;
}