/* Color Palette */

/* 
#0B0D17 Black
#D0D6F9 lighte blue
#FFFFFF White 
*/
body {
    background-color: #0B0D17;
    color: #D0D6F9;
    margin: 0;
    padding: 0;
    background: url(../assets/home/background-home-desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    color: #FFFFFF;
    text-transform: uppercase;
}

h2 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
}

h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
}

h4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    color: #D0D6F9;
    text-transform: uppercase;
}

/* Navbar */

#navbar-section {
    margin: 3%;
    margin-right: 0;
}

.navbar-dark {
    color: #FFFFFF;
}

.nav-container {
    position: relative;
    width: 100%;
}

.nav-hr {
    border: 1px solid;
    width: 46%;
    position: absolute;
    left: -43%;
}

.head-container {
    backdrop-filter: blur(50px);
    width: 70%;
    height: 5rem;
    background-color: #ffffff0e;
    padding: 3px 0;
    position: relative;
    left: 33%;
    color: #FFFFFF;
}

.ul-container {
    position: absolute;
    width: 70%;
    left: 10%;
}

.link {

    /* margin: 7px; */
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.link-a {
    color: #FFFFFF;
    margin: auto 30px;
}

.link-a:hover {
    text-decoration: underline 2px solid #FFFFFF;
    text-underline-offset: 29px;
    color: #FFFFFF;
}

.toggler-button {
    color: #FFFFFF;
}

/* Title */

#title {
    padding-left: 10%;
    position: relative;
    top: 3.5rem;
}

.paragraph {
    line-height: 2;
    width: 70%;
    font-size: 16px;
    letter-spacing: 1px;
}

.button-main {
    border-radius: 100%;
    padding: 6rem 3.5rem;
    font-size: 2rem;
    font-family: 'Bellefair', 'serif';
    text-transform: uppercase;
    position: absolute;
    right: 10%;
}



.button-main:hover {
    /* border-radius: 100%;
    padding: 8rem 5.5rem;
    background-color: #0b0d1756; */
    box-shadow: 0px 20px;

}