body {
    background: url(../assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title-container {
    padding-bottom: 50px;
}

.grey-color {
    color: gray;
    margin-right: 12px;
}

.left-container {
    margin-top: 120px;
}

.technology-button {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    font-size: 32px;
    font-family: 'Bellefair', serif;
    margin: 0 0 30px;
    display: block;
}

.technology-button:hover {
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
}

.header {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}

.technology-image {
    padding-top: 50px;
    float: right;
}

.active-technology {
    background-color: #ffffff;
}

.notactive-technology {
    border-color: #ffffff6a;
}